.restaurants-container {
    margin-left: calc(10% + 36px);
    margin-right: calc(10% + 36px);
}

.rest-title-container {
    margin: 0px calc(10% + 52px);
}

.rest-grid {
    padding: 0px;
    list-style: none;
    margin-block-end: 0px;
    display: grid;
    -webkit-box-align: start;
    align-items: start;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    margin: 32px 16px;

    & .grid {
        margin: 0;
        padding: 0;
        box-sizing: inherit;
        -webkit-text-size-adjust: none;
        -webkit-tap-highlight-color: transparent;
        -ms-text-size-adjust: none;
        outline: none;
    }

    & .rest-data {
        text-decoration: none;
        color: inherit;
        outline: 0px;
        cursor: pointer;

        & .ind-rest-container {
            display: grid;
            transition: all 0.05s ease 0s;
            cursor: pointer;
            gap: 12px;
            grid-auto-flow: row;
            justify-content: stretch;
            -webkit-box-align: center;
            align-items: center;
            padding: 0px;

            & .img-wrapper {
                position: relative;

                &::before {
                    content: "";
                    height: 0px;
                    display: block;
                    padding-top: calc(66.6667%);
                }

                & .img-container-inner {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: 100%;

                    & .image {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        border-radius: 16px;
                        overflow: hidden;
                        filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 8px);

                        & img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }

                        & .offers-content {
                            display: grid;
                            align-content: end;
                            text-align: left;
                            padding-left: 12px;
                            padding-right: 12px;
                            padding-bottom: 8px;
                            height: calc(81px);
                            background: linear-gradient(rgba(27, 30, 36, 0) 0%, rgb(27, 30, 36) 84.21%);
                            position: absolute;
                            bottom: 0px;
                            right: 0px;
                            left: 0px;

                            & .offers {
                                -webkit-font-smoothing: antialiased;
                                font-weight: 800;
                                font-size: 16px;
                                line-height: 16px;
                                letter-spacing: -0.4px;
                                color: rgba(255, 255, 255, 0.92);
                                overflow: hidden;
                                width: 100%;
                                display: -webkit-box;
                                overflow-wrap: break-word;
                                -webkit-line-clamp: 1;
                                -webkit-box-orient: vertical;

                                &.off-2 {
                                    -webkit-font-smoothing: antialiased;
                                    font-family: Roboto;
                                    font-weight: 500;
                                    font-size: 18px;
                                    line-height: 22px;
                                    letter-spacing: -0.5px;
                                    color: rgba(255, 255, 255, 0.92);
                                    overflow: hidden;
                                    width: 100%;
                                    display: -webkit-box;
                                    overflow-wrap: break-word;
                                    -webkit-line-clamp: 1;
                                    -webkit-box-orient: vertical;
                                }
                            }
                        }
                    }
                }
            }

            & .rest-title {
                margin: 0px;
                -webkit-font-smoothing: antialiased;
                font-family: Roboto;
                font-weight: 700;
                font-size: 18px;
                line-height: 24px;
                letter-spacing: -0.3px;
                color: rgba(2, 6, 12, 0.75);
                overflow: hidden;
                width: 100%;
                display: -webkit-box;
                overflow-wrap: break-word;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                text-transform: capitalize;
            }

            & .sw-restaurant-card-subtext-container {
                display: grid;
                -webkit-box-align: center;
                align-items: center;
                margin-top: 2px;
                gap: 2px;
                grid-auto-flow: column;
                -webkit-box-pack: start;
                justify-content: start;
            }

            & .restaurant-card-descriptions-container {
                display: grid;
                -webkit-box-align: center;
                align-items: center;
                margin-top: 2px;
                gap: 2px;

                & .desc {
                    -webkit-font-smoothing: antialiased;
                    font-family: Roboto;
                    font-weight: 200;
                    font-size: 16px;
                    line-height: 19px;
                    letter-spacing: -0.3px;
                    color: rgba(2, 6, 12, 0.6);
                    overflow: hidden;
                    width: 100%;
                    display: -webkit-box;
                    overflow-wrap: break-word;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                }
            }
        }
    }
}